<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.artist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Artist">
        <activity android:name=".eventplanner"></activity>
        <activity android:name=".interior" />
        <activity android:name=".ani" />
        <activity android:name=".graphicsdesign" />
        <activity android:name=".illustrator" />
        <activity android:name=".paintcon" />
        <activity android:name=".sketcher" />
        <activity android:name=".videography" />
        <activity android:name=".photocontent" />
        <activity android:name=".photography" />
        <activity android:name=".insertprofile" />
        <activity
            android:name=".client"
            android:theme="@style/AppthemeDashboard" />
        <activity android:name=".profile" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>